body {
  background-image: url("http://i649.photobucket.com/albums/uu213/jessie_wang1/supertransparentducks_zpsqxkggxwg.png");
  background-attachment: fixed;

}
.hackhomies {
  font-family: "Moon Flower", Lato;
  font-size: 130px;
  /*opacity: .95;*/ 
}

.frontpagespacing{
  padding-top: 225px;
  float: center;
  vertical-align: center;
}

.whitefont{
  color: white;
}


#bot{}

.ui.vertical.menu {
  font-family: "Moon Flower Bold";
  width: 18rem;
  font-size: 30px;
  text-align: left;
  padding-left: 25px;
  padding-right:25px;
}

.colortext{
  color:#1abc9c;
}


@font-face{
  font-family: 'Lato';
  src: url('/Lato-Regular.ttf') format("truetype");
}

@font-face{
  font-family: 'Moon Flower';
  src: url('/Moon_Flower.ttf') format("truetype");
/*  src: url('/fonts/Moon_Flower.eot');*/
}

@font-face{
  font-family: 'Moon Flower Bold';
  src: url('/Moon_Flower_Bold.ttf') format("truetype");
}
